<div class="root">
    <div class="title-view">
        <app-search-bar></app-search-bar>
    </div>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
    <app-tweet-view></app-tweet-view>
</div>